<div class="login">
    <div class="wrapper">
      <div class="title"><span>Add TV Show</span></div>
      <%- include ("./partials/messages"); %>
      <form action="/shows/addshows" method="POST" enctype="multipart/form-data">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" id="name" name="name" placeholder="Enter Name" class="form-control" />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input type="text" id="overview" name="overview" placeholder="Enter overview" class="form-control"/>
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="number" id="seasons" name="seasons" placeholder="Enter No of Seasons" class="form-control" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="number" id="episodes" name="episodes" placeholder="Enter No of Episodes" class="form-control"/>
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="releaseYear" name="releaseYear" placeholder="Enter releaseYear" class="form-control" />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input type="text" id="rating" name="rating" placeholder="Enter rating" class="form-control" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="genre" name="genre" placeholder="Enter genre" class="form-control" />
        </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="network" name="network" placeholder="Enter network" class="form-control" />
          </div>
        <div class="row">
            <i class="fas fa-at"></i>
            <input type="text" id="creator" name="creator" placeholder="Enter creator" class="form-control" />
        </div>
        <div class="row">
          <i class="fas fa-at"></i>
          <input type="text" id="trailer" name="trailer" placeholder="Enter trailer link" class="form-control" />
      </div>
        <div class="row">
            <input type="file" class="custom-file-input" id="imageInput" aria-describedby="inputGroupFileAddon01" name="imagefile">
            <label class="custom-file-label" for="imageInput">Image file</label>
        </div>

        </div>
        <div class="row button">
        <input type="submit" value="Add Show">
        </div>
      </form>
    </div>
</div>