<h1>Films:</h1>
 
<div class="row">
    <% for(var i = 0;i < filmsList.length; i++){ %>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/filmsimages/<%= filmsList[i].posterFile %>" style="height: 400px">
            <div class="card-body">
            <p class="card-text"> <%= filmsList[i].name %></p>
            <a href="films/<%= filmsList[i].id %>" class="btn btn-primary"></a>
            </div>
        </div>
    </div>
    <% } %>
</div>