<!-- Nav -->
    <nav>            
        <div class="menu-icon"><span class="fas fa-bars"></span></div>
        <div class="logo">MovieSite</div>
            <div class="nav-items">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/films/FilmList">Movies</a></li>
                <li><a href="/shows/ShowList">Television</a></li>
                <li><a href="/profile"><%= user.username %></a></li>
                <li><a href="/chatHome">Chat App</a></li>
                <li><a href="../users/logout">Logout</a></li>
                
            </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

    </nav>
  <div class="header">
        <h1>Welcome</h1>
        <p>Explore Your Favourite Movies and TV Shows</p>
    </div>

<section id="main">
    <ul id="autoWidth" class="cs-hidden">

<!-- Showcase Boxes -->
<li class="item-a">
    <div class="showcase-box">
        <img src="../public/images/Jumanji.jpg"/>
    </div>
</li>

<li class="item-b">
    <div class="showcase-box">
        <img src="../public/images/Skywalker.jpg"/>
    </div>
</li>

<li class="item-c">
    <div class="showcase-box">
        <img src="../public/images/Boyz.jpg"/>
    </div>
</li>

<li class="item-d">
    <div class="showcase-box">
        <img src="../public/images/GOT.jpg"/>
    </div>
</li>
    
<li class="item-e">
    <div class="showcase-box">
        <img src="../public/images/Guardians1.jpg"/>
    </div>
</li>

</ul>
</section>

<section id="latest">
<h2 class="latest-heading">Upcoming Movies</h2>

<!--slider-->
<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/WW.jpg">
    </div>
    </div>
</li>

<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/JungleCruise.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Tenet.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Dune.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Widow.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Kings.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/FreeGuy.jpg">
    </div>
    </div>
</li>

<li class="item-h">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Batman.jpg">
    </div>
    </div>
</li>

<li class="item-i">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/007.jpg">
    </div>
    </div>
</li>

<li class="item-j">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Kong.jpg">
    </div>
    </div>
</li>
</ul>

<!--Popular movies-->
<section id="latest">
<h2 class="latest-heading">Popular Movies</h2>

<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Empire.jpg">
    </div>        
    </div>
</li>

<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/AvengersIW.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/DarkKnight.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Fellowship.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="latest-box">   
    <div class="latest-b-img">
        <img src="../public/filmsimages/T2.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/SpiderVerse.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/BlackPanther.jpg">
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/Guardian2.jpg">
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/CivilWar.jpg">
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/filmsimages/OtherGuys.jpg">
    </div>
</li>

</ul>

<!--TV Shows-->
<section id="latest">
<h2 class="latest-heading">Popular TV Shows</h2>

<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Mando.jpg">
    </div>        
    </div>
</li>

<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/B99.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Tbbt.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Himym.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="latest-box">   
    <div class="latest-b-img">
        <img src="../public/TVimages/Sunny.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/TheOffice.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Daredevil.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Parks.jpg">
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/SpaceForce.jpg">
    </div>
</li>

<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/TVimages/Simpsons.jpg">
    </div>
</li>
</ul>
</section>

<script>
    $(document).ready(function() {
    $('#autoWidth,#autoWidth2').lightSlider({
        autoWidth:true,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
        } 
    });  
  });
</script>

<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");

    menuBtn.onclick = ()=>{
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }

    cancelBtn.onclick = ()=>{
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        cancelBtn.style.color = "#c96567";
        form.classList.remove("active");
    }

    searchBtn.onclick = ()=>{
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }
</script>

    <!--footer-->
    <footer>
        <p>&copy; Copyright 2020 - MovieSite Inc</p>
    </footer>
