<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
        <div class="nav-items">
            <li><a href="https://movie--site.herokuapp.com/">Home</a></li>
            <li><a href="/films/FilmList">Movies</a></li>
            <li><a href="/shows/ShowList">Television</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>

<section class="top-banner-section">
    <div class="banner-image-div">
      <img class="banner-image" src="../public/images/background.jpg" alt="Banner Image" />
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
      <span class="banner-text">
        <p class="banner-h1-text">Discover your Favourite Films and TV Shows, all in one place.</p>
        <p class="banner-body-text">Register now to browse, write reviews and chat to other members.</p>
        <p class="banner-btn"><a class="banner-btn-item" href="/users/register">Get started &#8594;</a></p>
      </span>
    </div>
</section>

<section id="main">
    <ul id="autoWidth" class="cs-hidden">


<li class="item-a">
    <div class="SliderBox">
        <img src="../public/images/Jumanji.jpg"/>
    </div>
</li>

<li class="item-b">
    <div class="SliderBox">
        <img src="../public/images/Skywalker.jpg"/>
    </div>
</li>

<li class="item-c">
    <div class="SliderBox">
        <img src="../public/images/Boyz.jpg"/>
    </div>
</li>

<li class="item-d">
    <div class="SliderBox">
        <img src="../public/images/GOT.jpg"/>
    </div>
</li>
    
<li class="item-e">
    <div class="SliderBox">
        <img src="../public/images/Guardians1.jpg"/>
    </div>
</li>

<li class="item-f">
    <div class="SliderBox">
        <img src="../public/images/avengers.jpg"/>
    </div>
</li>

<li class="item-g">
    <div class="SliderBox">
        <img src="../public/images/simpsons.jpg"/>
    </div>
</li>

</ul>
</section>

<section id="MovieSlider">
<h2 class="MovieSlider-heading">Upcoming Movies</h2>
<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/WW.jpg">
    </div>
    </div>
</li>

<li class="item-b">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/JungleCruise.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Tenet.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Dune.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Widow.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Kings.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/FreeGuy.jpg">
    </div>
    </div>
</li>

<li class="item-h">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Batman.jpg">
    </div>
    </div>
</li>

<li class="item-i">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/007.jpg">
    </div>
    </div>
</li>

<li class="item-j">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Kong.jpg">
    </div>
    </div>
</li>
</ul>
</section>

<section id="MovieSlider">
<h2 class="MovieSlider-heading">Popular Movies</h2>
<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Empire.jpg">
    </div>        
    </div>
</li>

<li class="item-b">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/AvengersIW.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/DarkKnight.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Fellowship.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="MovieBox">   
    <div class="movie-img">
        <img src="../public/filmsimages/T2.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/ANewHope.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/DaysOfFuture.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Guardian2.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/CivilWar.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/OtherGuys.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/ReturnKing.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/RushHour2.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/BlackPanther.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Gladiator.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/filmsimages/Godfather.jpg">
    </div>
</li>

</ul>
</section>

<section id="MovieSlider">
<h2 class="MovieSlider-heading">Popular TV Shows</h2>
<ul id="autoWidth2" class="cs-hidden">

<li class="item-a">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Mando.jpg">
    </div>        
    </div>
</li>

<li class="item-b">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/B99.jpg">
    </div>
    </div>
</li>

<li class="item-c">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Tbbt.jpg">
    </div>
    </div>
</li>

<li class="item-d">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Himym.jpg">
    </div>
    </div>
</li>

<li class="item-e">
    <div class="MovieBox">   
    <div class="movie-img">
        <img src="../public/TVimages/Sunny.jpg">
    </div>
    </div>
</li>

<li class="item-f">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/TheOffice.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Daredevil.jpg">
    </div>
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Parks.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/SpaceForce.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Simpsons.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Frasier.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Raymond.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/KingQueens.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/Prison Break.jpg">
    </div>
</li>

<li class="item-g">
    <div class="MovieBox">
    <div class="movie-img">
        <img src="../public/TVimages/X-men.jpg">
    </div>
</li>
</ul>
</section>


<script>
$(document).ready(function() {
$('#autoWidth,#autoWidth2').lightSlider({
    autoWidth:true,
    loop:true,
    onSliderLoad: function() {
        $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
    } 
});  
});
</script>

<script>
const menuBtn = document.querySelector(".menu-icon span");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const items = document.querySelector(".nav-items");
const form = document.querySelector("form");

menuBtn.onclick = ()=>{
    items.classList.add("active");
    menuBtn.classList.add("hide");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}

cancelBtn.onclick = ()=>{
    items.classList.remove("active");
    menuBtn.classList.remove("hide");
    searchBtn.classList.remove("hide");
    cancelBtn.classList.remove("show");
    cancelBtn.style.color = "#c96567";
    form.classList.remove("active");
}

searchBtn.onclick = ()=>{
    form.classList.add("active");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}

</script>

<footer>
    <p>&copy; Copyright 2020 - MovieSite Inc</p>
</footer>