<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
        <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="/films/FilmList">Movies</a></li>
            <li><a href="/shows/ShowList">Television</a></li>
            <li><a href="/shows/addshows">Add Television</a></li>
            <li><a href="/films/addfilm">Add Movies</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>
<div class="header">
    <h1>Welcome</h1>
    <p>Explore Your Favourite Movies and TV Shows</p>
</div>

<section id="main">
<!--heading-->
    <!-- <h1 class="showcase-heading">Discover your Favourite Films and TV Shows</h1> -->
    <ul id="autoWidth" class="cs-hidden">
    
<!-- Showcase Boxes -->
    
<!--box-1-->
    <li class="item-a">
    <div class="showcase-box">
        <img src="../public/images/Jumanji.jpg"/>
    </div>
    </li>

<!--box-2-->
    <li class="item-b">
    <div class="showcase-box">
        <img src="../public/images/Skywalker.jpg"/>
    </div>
    </li>
    
<!--box-3-->
    <li class="item-c">
    <div class="showcase-box">
        <img src="../public/images/Boyz.jpg"/>
    </div>
    </li>
            
<!--box-4-->
    <li class="item-d">
    <div class="showcase-box">
        <img src="../public/images/GOT.jpg"/>
    </div>
    </li>
    
<!--box-5-->
    <li class="item-e">
    <div class="showcase-box">
        <img src="../public/images/Guardians1.jpg"/>
    </div>
    </li>
</ul>
</section>

<!--upcoming movies-->
<section id="latest">
<h2 class="latest-heading">Upcoming Movies</h2>

<!--slider-->
<ul id="autoWidth2" class="cs-hidden">

<!--slide-box-1-->
<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/WW.jpg ">
    </div>
    </div>
</li>

<!--slide-box-2-->
<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/JungleCruise.jpg">
    </div>
    </div>
</li>

<!--slide-box-3-->
<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Tenet.jpg">
    </div>
    </div>
</li>

<!--slide-box-4-->
<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Dune.jpg">
    </div>
    </div>
</li>

<!--slide-box-5-->

    <li class="item-e">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Widow.jpg">
    </div>
    </div>
</li>

<!--slide-box-6-->
<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Kings.jpg">
    </div>
    </div>
</li>

<!--slide-box-7-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/FreeGuy.jpg">
    </div>
    </div>
</li>

<!--slide-box-8-->
<li class="item-h">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Batman.jpg">
    </div>
    </div>
</li>

<!--slide-box-9-->
<li class="item-i">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/007.jpg">
    </div>
    </div>
</li>

<!--slide-box-10-->
<li class="item-j">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Kong.jpg">
    </div>
    </div>
</li>
</ul>

<!--Popular movies-->
<section id="latest">
<h2 class="latest-heading">Popular Movies</h2>

<!--slider-->
<ul id="autoWidth2" class="cs-hidden">

<!--slide-box-1-->
<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Empire.jpg">
    </div>        
    </div>
</li>

<!--slide-box-2-->
<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/AvengersIW.jpg">
    </div>
    </div>
</li>

<!--slide-box-3-->
<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/DarkKnight.jpg">
    </div>
    </div>
</li>

<!--slide-box-4-->
<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Fellowship.jpg">
    </div>
    </div>
</li>

<!--slide-box-5-->
<li class="item-e">
    <div class="latest-box">   
    <div class="latest-b-img">
        <img src="../public/images/T2.jpg">
    </div>
    </div>
</li>

<!--slide-box-6-->
<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/SpiderVerse.jpg">
    </div>
    </div>
</li>

<!--slide-box-7-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/BlackPanther.jpg">
    </div>
</li>

<!--slide-box-8-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Guardian2.jpg">
    </div>
</li>

<!--slide-box-9-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/CivilWar.jpg">
    </div>
</li>

<!--slide-box-10-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/OtherGuys.jpg">
    </div>
</li>

</ul>

<!--TV Shows-->
<section id="latest">
<h2 class="latest-heading">Popular TV Shows</h2>

<!--slider-->
<ul id="autoWidth2" class="cs-hidden">

<!--slide-box-1-->
<li class="item-a">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Mando.jpg">
    </div>        
    </div>
</li>

<!--slide-box-2-->
<li class="item-b">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/B99.jpg">
    </div>
    </div>
</li>

<!--slide-box-3-->
<li class="item-c">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Tbbt.jpg">
    </div>
    </div>
</li>

<!--slide-box-4-->
<li class="item-d">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Himym.jpg">
    </div>
    </div>
</li>

<!--slide-box-5-->
<li class="item-e">
    <div class="latest-box">   
    <div class="latest-b-img">
        <img src="../public/images/Sunny.jpg">
    </div>
    </div>
</li>

<!--slide-box-6-->
<li class="item-f">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Office.jpg">
    </div>
    </div>
</li>

<!--slide-box-7-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Daredevil.jpg">
    </div>
    </div>
</li>

<!--slide-box-8-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Parks.jpg">
    </div>
</li>

<!--slide-box-9-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/SpaceForce.jpg">
    </div>
</li>

<!--slide-box-10-->
<li class="item-g">
    <div class="latest-box">
    <div class="latest-b-img">
        <img src="../public/images/Simpsons.jpg">
    </div>
</li>

</ul>
</section>


<script>
$(document).ready(function() {
$('#autoWidth,#autoWidth2').lightSlider({
    autoWidth:true,
    loop:true,
    onSliderLoad: function() {
        $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
    } 
});  
});
</script>

<script>
const menuBtn = document.querySelector(".menu-icon span");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const items = document.querySelector(".nav-items");
const form = document.querySelector("form");

menuBtn.onclick = ()=>{
    items.classList.add("active");
    menuBtn.classList.add("hide");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}

cancelBtn.onclick = ()=>{
    items.classList.remove("active");
    menuBtn.classList.remove("hide");
    searchBtn.classList.remove("hide");
    cancelBtn.classList.remove("show");
    cancelBtn.style.color = "#c96567";
    form.classList.remove("active");
}

searchBtn.onclick = ()=>{
    form.classList.add("active");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
}
</script>

<!--footer-->
<footer>
    <p>&copy; Copyright 2020 - Arjan Mahil Inc</p>
</footer>
