<nav>            
  <div class="menu-icon"><span class="fas fa-bars"></span></div>
  <div class="logo">MovieSite</div>
      <div class="nav-items">
          <li><a href="/Home">Home</a></li>
          <li><a href="/films/FilmList">Movies</a></li>
          <li><a href="/shows/ShowList">Television</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
      </div>

      <div class="search-icon"><span class=""></span></div>
      <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>

<div class="login">
      <div class="wrapper">
        <div class="title"><span>Login</span></div>
        <%- include ("./partials/messages"); %>
        <form action="/users/login" method="POST">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="email"
            id="email"
            name="email" 
            placeholder="Enter Username" 
            class="form-control" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password"               
            id="password"
            name="password"
            class="form-control" 
            placeholder="Enter Password" required>
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
          <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="/users/register">Register Here!</a></div>
        </form>
      </div>
    </div>

    