<nav>            
    <div class="menu-icon"><span class="fas fa-bars"></span></div>
    <div class="logo">MovieSite</div>
        <div class="nav-items">
            <li><a href="/Home">Home</a></li>
            <li><a href="/films/FilmList">Movies</a></li>
            <li><a href="/shows/ShowList">Television</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </div>

        <div class="search-icon"><span class=""></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>

</nav>

    <div class="item-list">
        <li class="item">
        <% for(var i = 0;i < showsList.length; i++){ %>
            <div class="item-image"><img src="../public/TVimages/<%= showsList[i].posterFile %>" 
                onclick="location.href='shows/<%= showsList[i].id %>'"
                style="height:350px;width:250px;padding-left:10px;padding-bottom:5px;"></div>
        </li>
        <% } %>
    </div>